/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace coren "com.hillelcoren.components.*";
@font-face {
	src: url("/assets/FlamaBook.ttf");
    font-family: "FlamaBook";
	embedAsCFF: false;
	advancedAntiAliasing: true;      
}
/* @font-face {
	src: url("/assets/fonts/FlamaBookIta.ttf");
    font-family: "FlamaBookItalic";
} */
@font-face {
	src: url("/assets/FlamaMedium.ttf");
    font-family: "FlamaMedium";
		embedAsCFF: false;
	advancedAntiAliasing: true;      
} 
@font-face {
	src: url("/assets/FlamaBold.ttf");
    font-family: "FlamaBold";
	embedAsCFF: false;
	advancedAntiAliasing: true;      
} 

s|WindowedApplication{
	backgroundColor: #FAFAFA;
	fontFamily: FlamaBook;
	fontSize: 14;
	color: #111111;
}