/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace coren "com.hillelcoren.components.*";
@font-face {
	src: url("/assets/FlamaBook.ttf");
    font-family: "FlamaBook";
	embedAsCFF: true;
	advancedAntiAliasing: true;      
}
/* @font-face {
	src: url("/assets/FlamaBookIta.ttf");
    font-family: "FlamaBookItalic";
	embedAsCFF: true;
	advancedAntiAliasing: true;     	
} */
@font-face {
	src: url("/assets/FlamaMedium.ttf");
    font-family: "FlamaMedium";
	embedAsCFF: true;
	advancedAntiAliasing: true;      
} 
@font-face {
	src: url("/assets/FlamaBold.ttf");
    font-family: "FlamaBold";
	embedAsCFF: true;
	advancedAntiAliasing: true;      
} 
@font-face {
	src: url("/assets/FlamaBook.ttf");
	font-family: "FlamaBookMx";
	embedAsCFF: false;
	advancedAntiAliasing: true;      
}
mx|Label {
	fontFamily: FlamaBookMx;
}
mx|Button {
	fontFamily: FlamaBookMx;
}
mx|TextInput {
	fontFamily: FlamaBookMx;
}
mx|FileSystemDataGrid {
	fontFamily: FlamaBookMx;
}
s|WindowedApplication{
	backgroundColor: #FAFCFB;
	fontFamily: FlamaBook;
	fontSize: 14;
	color: #111111;
}
s|Window {
	backgroundColor: #FAFCFB;
	fontFamily: FlamaBook;
	fontSize: 14;
	color: #111111;	
}